<div class="fm-resource-list-container">
  <div class="fm-resource-list-toolbar">
    <button type="button" class="fm-toolbar-btn list-btn" title="List view">
        <i class="icon list-icon"></i>
    </button>
    <button type="button" class="fm-toolbar-btn collection-btn" title="Grid view">
      <i class="icon grid-icon"></i>
    </button>
    <button type="button" class="fm-toolbar-btn search-btn" title="Grid view">
      <i class="icon search-icon"></i>
    </button>
  </div>
  <div class="progress-bar">
    <div class="progress">

    </div>
  </div>
  <input type="search" class="search-input"/>
  <div class="fm-resource-list-container-inner">
    <ul class="fm-resource-list">
  </div>

  </ul>
</div>
