
.fm-resource-details-container
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  height 100%
  width: 100%
  .fm-resource-details-thumbnail-container
    height 60%
    position relative
    width 100%
    padding 5px
    img
      height 120px;
      width 120px
      display block
      margin auto
  .fm-resource-details-info-container
    padding 5px
    .info
      display block
